<br/><br/><br/><br/>
<center>
<script> 
function abrir() { open('/external','','scrollbars=no,menubar=no,height=240,width=510,resizable=yes,toolbar=no,status=no') ;} 
</script> 

<a onclick="abrir()" style="color: white" alt="Compartir en toma la red"><img src="/img/favicon.ico"></a>
</center>