<div id="reg">
	<h5>Update your password</h1>
	Please enter the new password below and then press "Update Password".

	<% form_tag password_reset_path, :method => :put do %>
  		<%= password_field_tag :password %>
  		<%= submit_tag "Update Password" %>
	<% end %>
</div>