<% @page_name = 'Lista de Grupos' -%>
<div id="busqueda">
	<h2>Resualtado de la busqueda "<%= @q1 %>"</h2>


	<% if @tags %>
			Tags:
	  	<div class="search-results">
	 		 <%= render :partial => "search/tags" %>
	  	</div>
		<br/>
	<% end %>
	
	<% if @users %>
		Users:
		<div class="search-results">
			<%= render :partial => "search/users" %>
		</div>
		<br/>
	<% end %>
	
	<% if @posts %>
		
			Posts:
			<%= render :partial => "search/posts" %>
		
	<% end %>
</div>
