<h1>Instrucciones para reestablecer tu contraseña</h1>

<p>
  Una peticion para reestablecer tu contraseña ha sido hecha. Si tu no
  hiciste esta peticion, simplemente ignora esta email. Si la hiciste,
  por favor haz click en el link de abajo.
</p>

<%= link_to "Reset Password!", @edit_password_reset_url %>

