<div id="login">
	<%= link_to "tomalared.net", '/', :class => "linkRemote titulo" %>
	
	<%= form_for(@user) do |f| %>
		<%= render :partial => "form", :object => f, :locals => { :user => @user } %>		
	<% end %>
</div>

