<div id="create_user">
<br /><br />
<%= image_tag( "/gfx/logo.png", :alt => "Logo", :class => 'logo') %>
<br /><br />	
	<%= form_for(@user) do |f| %>
		<%= render :partial => "form", :object => f, :locals => { :user => @user } %>
		<%= f.submit "Crear" %>
	<% end %>
</div>

