<% @page_name = "Ver usuaruio" -%>




<header><h4>Configuracion de la cuenta</h4></header>

<article>
	<ul>
		<li class="data_user">
		    Nombre: @<%= @user.name %>
		</li>
		<li class="data_user">
		    Email: <%= @user.email %>
		</li>
		<% if ( current_user[:id] ==  @user.id) %>
			<li><%= link_to 'Edit', edit_user_path(:current) %></li>
		<% end %>
	</ul>
</article>
<article>
	<header id="board-title">Your groups tumbler:</header>
	<nav>
			<% @tags = Tag.find_most_popular_by_user(current_user.id)%>
			 <%= render :partial => "search/tags" %>
	</nav>
</article>

