<div id="errorExplanation">
	<% if target.errors.any? %>
	  
	    <ul class="notice-block">
	    	<li class="notice-title"><%= pluralize(target.errors.count, "error") %> prohibited this record from being saved:</li>
	      <% target.errors.full_messages.each do |msg| %>
	        <li class="notice-li">-<%= msg %></li>
	      <% end %>
	    </ul> 
	<% end %>	
</div>

