<div class="imagen">
<div class="imagen">
    <ul>
        <li>
        <%=link_to( image_tag("#{content}"), "#{content}", :class=> "post-image", :rel => "lightbox") %>
          
        </li>
    </ul>
</div>











</div>
