<div id="video">
<% url = content.split[-1] %>
<% desc = content.split[0..-2].join(" ") %>
	<iframe width="380" height="230" src="https://www.youtube.com/embed/<%= parse_youtube(url) -%>?rel=0&amp;wmode=transparent" frameborder="0" allowfullscreen></iframe>
</div>
