<% @page_name = "Todos los Posts" -%>
<%# error_messages_for 'user' %>

<% if current_user and !params[:id] %>
<div id="post_notice"></div>
<%= render :partial => 'post/newex' %>
<% end %>

<div id= "posts">
    <%= render :partial => 'post/posts', :collection => @posts, :as => "post" %>
</div>

<%#= link_to "<-- Anterior ", { :page => @post_pages.current.previous, :type => params[:type] } if @post_pages.current.previous %>
<%#= link_to "Siguiente >>", { :page  => @post_pages.current.next, :type => params[:type], :remote => true } if @post_pages.current.next %>

