<div id="cabeceraMuneco">
    <%= render :partial => "muneco" %>
</div>
<div id="posts">
    <%= render :partial => "posts", :collection => @posts, :as => "post" %>
</div>
<input type="hidden" id="remote" name="remote" value="" />
<%#= link_to "<-- Anterior ", { :page => @post_pages.current.previous, :type => params[:type] } if @post_pages.current.previous %>
<%#= link_to "Siguiente >>", { :page  => @post_pages.current.next, :type => params[:type], :remote => true } if @post_pages.current.next %>