<ul class="voteMenu">
	<li class="ocultarIconosCm">
		<%=existeVotoPropietario(2, comment_id, "Menos", likes) %>
	</li>
	<li class="ocultarIconosCm">
		<%=existeVotoPropietario(2, comment_id, "Mas", likes) %>
	</li>
	<li id="numVotosComment_<%=comment_id %>" class="icons ocultarIconosCm">
		<%=numVotos(likes) %>
	</li>
</ul>
