<ul class="voteMenu">
	<li class="ocultarIconos">
		<%=existeVotoPropietario(1, post_id, "Menos", likes) %>
	</li>
	<li class="ocultarIconos">
		<%=existeVotoPropietario(1, post_id, "Mas", likes) %>
	</li>
	<li id="numVotosPost_<%=post_id %>" class="icons2 ocultarIconos">
		<%=numVotos(likes) %>
	</li>
</ul>