body{
  background-image: url('/gfx/fondo.png');
  background-color: black;
  background-repeat:no-repeat;
  background-attachment:fixed;
  background-position:center; 
  font-family: monospace;
  color: #000;
}

a{
  color: white;  
  font-weight: bold;
  text-shadow: -1px 0px #000, 0px 1px #000, 1px 0px #000, 0px -1px #000;
}

a:hover{
  color: green;
}

.logo{
  width:300px;
}

.titulo{
  font-size: 28px;
  color: black;
  margin-left: 15px;
  font-weight: bold;
  font-family: monospace;
  text-shadow: -1px 0px white, 0px 1px white, 1px 0px white, 0px -1px white;
}

.titulo:hover{
  color: black;  
  text-shadow: -1px 0px green, 0px 1px green, 1px 0px green, 0px -1px green;
}

.board-foto{
  width: 100%;
}

.topbar{
  position :fixed;
  z-index: 991;
  background-color: black;
  -moz-box-shadow:    0px 0px 6px 2px #283327;
  -webkit-box-shadow: 0px 0px 6px 2px #283327;
  box-shadow:         0px 0px 6px 2px #283327;
  min-width: 100%;
}

#nav0 li{
  display: inline;
}

#search, #nav0{
  margin-top: 2%;
}



#board-notifi li{
  display: inline;
  background: white;
}

#board-notifi{
  background: white;
}

#notice, .notice-li{
  text-align: center;
  border: 1px red;
  border-style:solid;
  border-width: 2px;
  background: #F78181;
  color: white;  
  margin: 5px;
}


.notice-block{
  width: 300px;
  position: relative;
  float: left;
  left: 10%;
}

.notice-title{ 
    font-size: 14px;
}

.notice-li{
  width: 300px;
  text-align: justify;
  float: left;
  padding: 5px;
  font-size: 10px;  
}

.registro, .errorExplanation{
  display: block;
  width: 400px;
  position: relative;
  float: left;  
  left: 10%;
}


.comment-muneco
{
  min-width: 20%;
  min-height: 34px;
  margin: 1%;
  float: left;
}

.comment-muneco1
{
  width: 48px;
  height: 42px; 
}



.borrarComentario, .iconsMas, .iconsMenos, .iconShare, .iconsMasComentario, .iconsMenosComentario,
.iconsMenosComentarioDisable, .iconsMasComentarioDisable, .iconsMasDisable, .iconsMenosDisable, .iconUnshare {
  width: 12px;
  height: 12px;
  padding: 1px;
  margin: 2px;
  float: right;
}

.mainComentContent .iconsMas, .mainComentContent .iconsMenos,.mainComentContent .iconsMasDisable,.mainComentContent .iconsMenosDisable {
  position: relative;  
  top: -8px;
}

.mainPostContent .iconsMas, .mainPostContent .iconsMenos,.mainPostContent .iconsMasDisable,.mainPostContent .iconsMenosDisable {
  position: relative;  
  top: 5px;
  left: 3px;
}


.icons2{
  position: relative;  
  top: 8px;  
  text-align: center;
}

.iconsMasComentario, .iconsMenosComentario, .iconsMenosComentarioDisable, .iconsMasComentarioDisable{
  top: -8px;
}

.icons{
  position: relative;
  top: -4px;
}
.icon-exit, .icon-home{
  width: 23px;
  height: 23px;
  padding: 2px;
  top: 5px;
}
  
#archivo{
  left: 6px;
  top: 1px;
  display: none;
  background: white;
  width: 394px; 
  margin-left: 90px;
  text-align: center;
}

#img{
  margin-left: 10px;
  width: 450px;
}

#cargando, .cargandoPagPost .ui-dialog-titlebar {
  display: none; 
}

.cargandoPagPost {
  width: 66px;
  height: 66px;
  border: 0;
  background: black;
}

.votos
{
  float: right;
  width: 400px;
  margin-right: 10px;
}

#board-block {  
  background: white;
  text-align: left;  
  padding-left: 10px;
  padding-bottom: 1px;  
  
}
#board-block li{
  height: 14px;
  background: white;
  margin: 5px;
}
#board-title{
  font-weight:bold;
  text-align: center;
  font-size: 13px;
  padding-bottom: 2px;  
}

.textarea{
  margin: 1%;
  float: left;  
  height: 45px;   
  width: 74%;
  padding: 1%;
  background: #fff;   
}

#tumblear{
  float:right;
  margin-right: 1%;
}

#posts{
  display: table;
  width: 100%;
}

#save{
  display: table;
  width: 100%;
  background-color:rgba(255,255,255,0.5);
  margin-top: 1%;
  padding-bottom: 5px;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
}
.muneco
{
  width: 100%; 
  min-height: 200px;
  color: #fff;
  text-shadow: -1px 0px #000, 0px 1px #000, 1px 0px #000, 0px -1px #000;
}
.postCommentsVote{
  position: relative;
  left: 1px;
  font-size: 10px;
}

#muneco-text
{
  margin-left: 15px;
}
.mediano-muneco
{
  min-width: 20%;
  min-height: 100px;
  margin: 1%;
  float: left;
}

#posts{
  display: table;
  width: 100%;
}
.post{
  display: table;
  width: 100%;  
  margin-top: 20px;
  padding-bottom: 5px;
  background-color:rgba(255,255,255,0.5);
  
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
}

#user-edit{
  position:relative;
  display: block;  
  top: 10px;
  padding: 20px;
  text-align: center;
  height: 545px;
  background-color:rgba(255,255,255,0.5);
  margin: 0;
  
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
}

.user-edit{
  display: block;  
  padding: 5px;
  text-align: center;
  margin: 0px;
  background-color:rgba(255,255,255,1);
  }

.borrarPost{
  float: right;
  width: 15px;
  height: 15px;
  margin-right: .0em;
}

#main{
    position: relative;
    z-index:50;
}

.postComments {
  float: right;
  width: 78%;
  display:block;
  margin-top: 2px;  
}

.postFooter{
  position: relative;
  bottom: 0px;
  left: 1px;
  float: right;
  width: 100%;
  display:block;
  vertical-align: text-bottom;
}

.postFooter a{
  text-shadow: none; 
  color: black;
}

.maincontent{
    position: relative;
    top: 45px;    
}

.comment {
  display: block; 
  width: 100%; 
}

.mainPostContent{
  width: 74%;
  margin: 1%;
  padding: 1%;
  margin-bottom: 0px;  
  float: left;
  font-size: 13px;
  line-height: 15px;
  background-color: white;
  color: black;
}
.mainComentContent{
  width: 76%;
  margin: 1%;
  min-height: 34px; 
  float: left;
  background-color: white;
}

.formComentContent{
  width: 74%;
  margin: 1%;
  padding: 1%;
  height: 23px; 
  float: left;
  font-size: 10px;
}

.mainPostContent #text{
  margin: 1%;
  text-align: justify;
}
.mainComentContent #text{
  margin: 1%;
  font-size:10px;
  text-align: justify;
}
#text{
  display: table;
  color: black;
  height: 28px;
}

.text-quote{
  display: table;
  color: black;
  font-size: 18px;
  color: black;
  margin: 1%;
  font-size: 12px;
  text-align: justify;
  height: 28px;
}

.mainPostContent a, .mainComentContent a{
  color: red;
  text-shadow: none;
}

.mainPostContent a:hover, .mainComentContent a:hover{ 
  color: green;
}

.voteMenu li{
  display: inline;
  float: right;
  height: 0px;  
}

.commentHeader{
  font-size: 10px;
}

#mainboard{
  position: fixed;
  width: 100%;
  top: 52px; 
  z-index: 1;  
}

.comentar{
  font-size: 10px;
  float: right;
  margin-right: 1%;
}

#footer{
  position: relative;  
  padding: 5px;
  top: 60px;
  font-size: 12px;
  text-align: center;  
  color: white; 
  margin-bottom: 100px;  
}

.youtube{
  width: 96%;
  margin: 2%;
  height: 320px;   
}

.imagen{
  width: 94%;  
  margin: 3%;
}
.post-image{
  width: 100%;
}

.searcher{
  color: white; 
  text-align: center;
}

#resultado-busqueda{
  color: red;
  font-size: 12px;
}

.arrow-left { 
  position: relative;
  float:right;
  top: 6px;
  left: 10%;
  width: 0; 
  height: 0; 
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent; 
  
  border-right:10px solid white; 
}

.arrow-left1 { 
  position: relative;
  float:right;
  top: 6px;
  left: 10%;
  width: 0; 
  height: 0; 
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent; 
  
  border-right:10px solid white; 
}

.arrow-left-comment { 
  position: relative;
  float:right;
  top: 6px;
  left: 11%;
  width: 0; 
  height: 0; 
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent; 
  
  border-right: 7px solid white; 
}

.board-background{
   background-color:rgba(255,255,255,0.5);
   padding-top: 0px;
   padding-bottom: 0px;
   padding-left: 5px;   
   padding-right: 5px;   
   text-align: center;
   -moz-border-radius: 7px;
   -webkit-border-radius: 7px;
}

.board-white{
  background: white;
  margin-bottom: 6px;
  margin-top: 6px;
  padding: 5px;
}

.board-white a, #board-block a, .text-quote a ,.text-link a{ 
  color: green;
  text-shadow: none;   
}

 
#board-block a,{ 
  font-size: 12px;
  font-weight: normal;
}

.board-white a{ 
  font-size: 14px;    
}

.board-white a:hover, #board-block a:hover, #board-notifi a:hover, .text-quote a:hover ,.text-link a:hover{ 
  color: red;
  text-shadow: none;
}

.user{
  color: red;
}

.tag a{
  color: green;
}

.tag a:hover{
  color: red;
}


#login{
   display: table;
   width: 100%;
   background-color:rgba(255,255,255,0.8);
   text-align: center;
   -moz-border-radius: 7px;
   -webkit-border-radius: 7px;
   color: black;
   padding: 10px;
}

#login label{
  font-size: 12px;
}
