body{
  background-image: url('/gfx/fondo.jpg');
  background-color: black;
  background-repeat:no-repeat;
  background-attachment:fixed;
  background-position:top; 
  font-family: monospace;
  color: #000;
}

a{
  color: white;  
  font-weight: bold;
  text-shadow: -1px 0px #000, 0px 1px #000, 1px 0px #000, 0px -1px #000;
}

a:hover{
  color: green;
}
.logo{
  width:300px;
}

.titulo{
  font-size: 28px;
  color: black;
  margin-left: 15px;
  font-weight: bold;
  font-family: monospace;
  text-shadow: -1px 0px white, 0px 1px white, 1px 0px white, 0px -1px white;
}

.titulo:hover{
  color: black;  
  text-shadow: -1px 0px green, 0px 1px green, 1px 0px green, 0px -1px green;
}

.board_foto{
  width:200px;
}

.topbar{
  position :fixed;
  z-index: 991;
  background-color: black;
  -moz-box-shadow:    0px 0px 6px 2px #283327;
  -webkit-box-shadow: 0px 0px 6px 2px #283327;
  box-shadow:         0px 0px 6px 2px #283327;
  min-width: 100%;
}

#nav0 li{
  display: inline;
}

#search, #nav0{
  margin-top: 2%;
}



#board-notifi li{
  display: inline;
}

#notice{
  color: green;  
}

.comment-muneco
{
  min-width: 20%;
  min-height: 34px;
  margin: 1%;
  float: left;
}

.comment-muneco1
{
  width: 48px;
  height: 42px; 
}



.borrarComentario{
  width: 15px;
  height: 15px;
  right: 0px;
  top: 0px;
  float: right;
  margin: 0;
}



#archivo{
  left: 6px;
  top: 1px;
  display: none;
  background: white;
  width: 394px; 
  margin-left: 90px;
  text-align: center;
}

#img{
  margin-left: 10px;
  width: 450px;
}

#cargando, .cargandoPagPost .ui-dialog-titlebar {
  display: none; 
}

.cargandoPagPost {
  width: 66px;
  height: 66px;
  border: 0;
  background: black;
}

.votos
{
  float: right;
  width: 400px;
  margin-right: 10px;
}

#board-block li{
  height: 14px;
}
#board-title{
  text-decoration:underline;
}

.textarea{
  max-width: 74%;
  max-height: 100px; 
  margin: 1%;
  padding: 1%;
  float: left;
}

#tumblear{
  float:right;
  margin-right: 1%;
}

#posts{
  display: table;
  width: 100%;
}

#save{
  display: table;
  width: 100%;
  background-color:rgba(255,255,255,0.5);
  margin-top: 1%;
  padding-bottom: 5px;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
}
.muneco
{
  width: 100%; 
  min-height: 200px;
  color: #fff;
  text-shadow: -1px 0px #000, 0px 1px #000, 1px 0px #000, 0px -1px #000;
}
.postCommentsVote{
  position: relative;
  left: 1px;
  font-size: 10px;
}

#muneco-text
{
  margin-left: 15px;
}
.mediano-muneco
{
  min-width: 20%;
  min-height: 100px;
  margin: 1%;
  float: left;
}

#posts{
  display: table;
  width: 100%;
}
.post{
  display: table;
  width: 100%;  
  margin-top: 20px;
  padding-bottom: 5px;
  background-color:rgba(255,255,255,0.5);
  
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
}
.borrarPost{
  float: right;
  width: 15px;
  height: 15px;
  margin-right: .0em;
}

#main{
    position: relative;
    z-index:50;
}

.postComments {
  float: right;
  width: 78%;
  display:block;
  margin-top: 2px;  
}

.postFooter{
  position: relative;
  bottom: 0px;
  left: 1px;
  float: right;
  width: 100%;
  display:block;
  vertical-align: text-bottom;
}

.postFooter a{
  text-shadow: none; 
  color: black;
}

.maincontent{
    position: relative;
    top: 45px;    
}

.comment {
  display: block; 
  width: 100%; 
}

.mainPostContent{
  width: 74%;
  margin: 1%;
  padding: 1%;
  margin-bottom: 0px;  
  float: left;
  font-size: 13px;
  line-height: 15px;
  background-color: white;
  color: black;
}
.mainComentContent{
  width: 76%;
  margin: 1%;
  min-height: 34px; 
  float: left;
  background-color: white;
}

.formComentContent{
  width: 74%;
  margin: 1%;
  padding: 1%;
  height: 23px; 
  float: left;
  font-size: 10px;
}

.mainPostContent #text{
  margin: 1%;
  text-align: justify;
}
.mainComentContent #text{
  margin: 1%;
  font-size:10px;
  text-align: justify;
}
#text{
  display: table;
  color: black;
  height: 28px;
}

.text-quote{
  display: table;
  color: black;
  font-size: 18px;
  color: black;
  margin: 1%;
  font-size: 12px;
  text-align: justify;
  height: 28px;
}

.mainPostContent a, .mainComentContent a{
  color: black;
  text-shadow: none;
}

.mainPostContent a:hover, .mainComentContent a:hover{ 
  color: green;
}

.text-quote a{
  color: black;
  text-shadow: none;    
}
.text-link a{
  color: black;
  text-shadow: none;    
}
.voteMenu li{
  display: inline;
  float: right;
  height: 0px;  
}

.commentHeader{
  font-size: 10px;
}

#mainboard{
  position: fixed;
  width: 100%;
  top: 45px; 
  z-index: 1;  
}

.comentar{
  font-size: 10px;
  float: right;
  margin-right: 1%;
}

#footer{
  position: relative;
  top: 45px;
  font-size: 12px;
  text-align: center;
  padding-bottom: 30px;
}

.youtube{
  width: 96%;
  margin: 2%;
  height: 320px;   
}

.imagen{
  width: 94%;  
  margin: 3%;
}
.post-image{
  width: 100%;
}

.searcher{
  color: white; 
}

#resultado-busqueda{
  color: red;
  font-size: 12px;
}

.arrow-left { 
  position: relative;
  float:right;
  top: 12px;
  left: 10%;
  width: 0; 
  height: 0; 
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent; 
  
  border-right:10px solid white; 
}

.arrow-left1 { 
  position: relative;
  float:right;
  top: 12px;
  left: 10%;
  width: 0; 
  height: 0; 
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent; 
  
  border-right:10px solid white; 
}

.arrow-left-comment { 
  position: relative;
  float:right;
  top: 3px;
  left: 10%;
  width: 0; 
  height: 0; 
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent; 
  
  border-right: 7px solid white; 
}
.iconBorrarComentario{
    position:relative;
    left: 1px;
}

.board-background{
   background-color:rgba(255,255,255,0.5);
   height: 2000px;
   padding: 10px;
}
