body{
  background-image: url('/gfx/fondo.png');
  background-color: black;
  background-repeat:no-repeat;
  background-attachment:fixed;
  background-position:center; 
  font-family: monospace;
  color: #000;
}

a{
  color: white;  
  font-weight: bold;  
}

a:hover{
  color: green;
}

.logo{
  width:300px;
}

.titulo{
  font-size: 28px;
  color: black;
  margin-left: 15px;
  font-weight: bold;
  font-family: monospace;
  text-shadow: -1px 0px white, 0px 1px white, 1px 0px white, 0px -1px white;
}

.titulo:hover{
  color: black;  
  text-shadow: -1px 0px green, 0px 1px green, 1px 0px green, 0px -1px green;
}

.board-foto{
  max-width: 100%;
  max-height: 140px;
}

.topbar{
  position :fixed;
  z-index: 991;
  background-color: black;
  -moz-box-shadow:    0px 0px 6px 2px #283327;
  -webkit-box-shadow: 0px 0px 6px 2px #283327;
  box-shadow:         0px 0px 6px 2px #283327;
  min-width: 100%;
}

#nav0 li{
  display: inline;
}

#search, #nav0{
  margin-top: 10px;
}

.usersboard{
  color: black !important;
  
}

.usersboard:hover{
  color: gray !important;
}

#board-notifi li{
  display: inline;
  background: white;
}

#board-notifi{
  background: white;
}

#error, .notice-li{
  text-align: center;
  border: 1px red;
  border-style:solid;
  border-width: 2px;
  background: #F78181;
  color: white;  
  margin: 5px;
}

#notice{
  text-align: center;
  border: 1px green;
  border-style:solid;
  border-width: 2px;
  background: #aff675;
  color: black;  
  margin: 5px;
}


.notice-block{
  width: 300px;
  position: relative;
  float: left;
  left: 10%;
}

.notice-title{ 
    font-size: 14px;
}

.notice-login{
  text-align: center;
  border: 1px red;
  border-style:solid;
  border-width: 2px;
  background: #F78181;
  color: white;  
  padding-left: 5px;
  font-size: 10px;
}

.notice-li{
  width: 300px;
  text-align: justify;
  float: left;
  padding: 5px;
  font-size: 10px;  
}
#user_session_name, #user_session_password{
  width: 100px;
}
.registro, .errorExplanation{
  display: block;
  width: 400px;
  position: relative;
  float: left;  
  left: 10%;
}


.comment-muneco
{
  width: 50px;
  height: 50px;
  margin: 1%;
  float: left;
}

.board-munecos
{
  position:static;
  width: 48%;  
  margin: 1%;
  float: left;
  text-align: right;
  vertical-align: text-bottom;
  padding-top: 30px;
  padding-bottom: 0px;
  overflow: hidden;
  font-size: 10px;
  text-shadow: -1px 0px #000, 0px 1px #000, 1px 0px #000, 0px -1px #000;
}

.board-munecos a{
 color: white !important;
}


.board-munecos a:hover{
 color: black !important;
}
#board-mention{
  display: table;
  background: white;
  font-weight:bold;
}

.search-muneco{
  width: 97px;
  min-height: 80px;
  margin: 2px;
  float: left;
}

.comment-muneco1
{
  width: 48px;
  height: 42px; 
}

.borrarPost, .borrarComentario, .iconUnshare, .iconsMas, .iconsMenos, .iconShare, .iconsMasComentario, .iconsMenosComentario,
.iconsMenosComentarioDisable, .iconsMasComentarioDisable, .iconsMasDisable, .iconsMenosDisable{
  float: right;
  width: 15px;
  height: 15px;
}

.mainComentContent .iconsMas, .mainComentContent .iconsMenos,.mainComentContent .iconsMasDisable,.mainComentContent .iconsMenosDisable {
  position: relative;  
  top: -8px;
}

.mainPostContent .iconsMas, .mainPostContent .iconsMenos,.mainPostContent .iconsMasDisable,.mainPostContent .iconsMenosDisable {
  position: relative;  
  top: 5px;
  left: 3px;
}


.icons2{
  position: relative;  
  top: 8px;  
  text-align: center;
}

.iconsMasComentario, .iconsMenosComentario, .iconsMenosComentarioDisable, .iconsMasComentarioDisable{
  top: -8px;
}

.icons{
  position: relative;
  top: -4px;
  margin-right: 4px;
}
.icon-exit, .icon-home {
  width: 23px;
  height: 23px;
  padding: 2px;
  top: 0px;
}

#open-publicar{
  width: 29px;
  height: 29px;
  padding: 2px;
  top: 0px;
}
  
#archivo{
  left: 6px;
  top: 1px;
  display: none;
  background: white;
  width: 394px; 
  margin-left: 90px;
  text-align: center;
}

#img{
  margin-left: 10px;
  width: 450px;
}

#cargando, .cargandoPagPost .ui-dialog-titlebar {
  display: none; 
}

.cargandoPagPost {
  width: 66px;
  height: 66px;
  border: 0;
  background: black;
}

.votos
{
  float: right;
  width: 400px;
  margin-right: 10px;
}

#board-block {  
  background: white;
  text-align: justify;
  padding-bottom: 2px;
  padding-left: 10px;
  padding-right: 10px;
  
}
#board-block li{
  height: 14px;
  background: white;
  margin: 5px;  
}
#board-title{
  font-weight:bold;
  text-align: center;
  font-size: 13px;
  padding-bottom: 2px;  
}

.textarea{
  margin: 1%;
  float: left;
  width: 72%;  
  height: 50px;    
  padding: 1%;
  background: #fff;   
}

#tumblear{
  float:right;
  margin-right: 1%;
}

#posts{
  display: table;
  width: 100%;
}

#form-new{
  
}

.ui-dialog{
  display: table;  
  background-color:rgba(0,0,0,1) !important;
  margin-top: 1%;
  padding: 0px !important;
  margin: 0px !important;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px; 
}

.ui-widget-content{
  border: none;
  background: none;
}
.muneco
{
  width: 100%; 
  min-height: 200px;
  color: #fff;
  text-shadow: -1px 0px #000, 0px 1px #000, 1px 0px #000, 0px -1px #000;
}
#save{
  display: table;  
  widht: 550px;
  margin-left: 0px;
}
.postCommentsVote{
  position: relative;
  left: 1px;
  font-size: 10px;
}

#muneco-text
{
  margin-left: 15px;
}
.mediano-muneco
{
  width: 20%;  
  height: 140px;
  margin: 1%;
  float: left;
  top: 0px;  
}

.mediano-muneco-post{
  position:relative;
  top: -20px;
}

#posts{
  display: table;
  width: 100%;
}
.post{
  display: table;
  width: 100%;  
  margin-top: 20px;
  padding-bottom: 5px;
  background-color:rgba(255,255,255,0.5);
  
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
}

#user-edit{
  position:relative;
  display: block;  
  top: 10px;
  padding: 20px;
  text-align: center;  
  background-color:rgba(255,255,255,0.5);
  margin: 0;  
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
}

.user-edit{
  display: block;  
  padding: 5px;
  text-align: center;
  margin: 0px;
  float: left;
  margin: 1%;
  width: 46%;
  background-color:rgba(255,255,255,1);
  }


#main{
    position: relative;
    z-index:50;
}

.postComments {
  float: right;
  width: 78%;
  display:block;
  margin-top: 2px;  
}

.postFooter{
  position: relative;
  bottom: 0px;
  left: 1px;
  float: right;
  width: 100%;
  display:block;
  vertical-align: text-bottom;
}

.postFooter a{
  text-shadow: none; 
  color: black;
}

.maincontent{
    position: relative;
    top: 45px;    
}

.comment {  
  display: table; 
  width: 100%;  
}

.mainPostContent{
  width: 74%;
  margin: 1%;
  padding: 1%;
  margin-bottom: 0px;  
  float: left;
  font-size: 13px;
  line-height: 15px;
  background-color: white;
  color: black;
}
.mainComentContent{
  background-color: white;
  width: 83%;
  margin-top: 5px;
  margin-right: 7px;
  padding: 1%;
  min-height: 23px;  
  float: right;
  font-size: 10px;
}

.formComentContent{
  width: 83%;
  margin-top: 5px;
  margin-right: 7px;
  padding: 1%;
  height: 23px;  
  float: right;
  font-size: 10px;
}

.mainPostContent #text{
  margin: 1%;
  text-align: justify;
}
.mainComentContent #text{
  margin: 1%;
  font-size:10px;
  text-align: justify;
}
#text{
  display: table;
  color: black;
  height: 23px;
}

.text-quote{
  display: table;
  color: black;
  font-size: 18px;
  color: black;
  margin: 1%;
  font-size: 12px;
  text-align: justify;
  height: 23px;
}

.mainPostContent a, .mainComentContent a{
  color: green;
  text-shadow: none;
}

.mainPostContent a:hover, .mainComentContent a:hover{ 
  color: black;
}

.voteMenu li{
  display: inline;
  float: right;
  height: 0px;  
}

.commentHeader{
  font-size: 10px;
}

#mainboard{
  position: fixed;
  width: 100%;
  top: 60px; 
  z-index: 1;  
}

.comentar{
  font-size: 10px;
  float: right;  
  margin-top: 1%;
  margin-right: 1%;
}

#footer{
  position: relative;  
  padding: 5px;
  top: 60px;
  font-size: 12px;
  text-align: center;  
  color: white; 
  margin-bottom: 100px;
}

#footer2{
  background-color:rgba(255,255,255,0.5);
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  color: black;
}

.youtube{
  width: 96%;
  margin: 2%;
  height: 320px;   
}

.imagen{
  width: 94%;  
  margin: 3%;
}
.post-image{
  width: 550px;
}

.searcher{
  color: white; 
  text-align: center;
}

#resultado-busqueda{
  color: red;
  font-size: 12px;
}

.arrow-left { 
  position: relative;
  float:right;
  top: 6px;
  left: 10%;
  width: 0; 
  height: 0; 
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent; 
  
  border-right:10px solid white; 
}

.arrow-left1 { 
  position: relative;
  float:right;
  top: 6px;
  left: 10%;
  width: 0; 
  height: 0; 
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent; 
  
  border-right:10px solid white; 
}

.arrow-left-comment { 
  position: relative;
  float:right;
  top: 6px;
  left: 39%;
  width: 0; 
  height: 0; 
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent; 
  
  border-right: 7px solid white; 
}

.board-background{
   background-color:rgba(255,255,255,0.5);
   padding-top: 0px;
   padding-bottom: 0px;
   padding-left: 5px;   
   padding-right: 5px;   
   text-align: center;
   -moz-border-radius: 7px;
   -webkit-border-radius: 7px;
}

.board-white{
  background: white;
  margin-bottom: 6px;
  margin-top: 6px;
  padding: 5px;
}

.board-white a, #board-block a, .text-quote a ,.text-link a{ 
  color: green;
  text-shadow: none;   
}

 
#board-block a,{ 
  font-size: 12px;
  font-weight: normal;
}

.board-white a{ 
  font-size: 14px;    
}

.board-white a:hover, #board-block a:hover, .text-quote a:hover ,.text-link a:hover{ 
  color: black;
  text-shadow: none;
}

#board-notifi a{
  color:green;
    text-shadow: -1px 0px #fff, 0px 1px #fff, 1px 0px #fff, 0px -1px #fff;
}

#board-notifi a:hover{
    text-shadow: -1px 0px #000, 0px 1px #000, 1px 0px #000, 0px -1px #000;
}

.user, .tag a{
  color: green !important;
  font-weight:bold !important;
}

.tag:hover, .user:hover{
  color: black !important;
}

.notification-list{
   position: relative;
   display: table;
   top: 15px;
   width: 100%;
   background-color:rgba(255,255,255,0.5);
   text-align: left;
   -moz-border-radius: 7px;
   -webkit-border-radius: 7px;
   color: black;
   padding: 2px;
   margin-bottom: 10px;
}

#login{
   display: table;
   width: 100%;
   background-color:rgba(255,255,255,0.8);
   text-align: center;
   -moz-border-radius: 7px;
   -webkit-border-radius: 7px;
   color: black;
   padding: 10px;
}

#login label{
  font-size: 12px;
}

.busqueda{
   display: block;   
   background-color:rgba(255,255,255,0.5);
   text-align: center;
   -moz-border-radius: 7px;
   -webkit-border-radius: 7px;
   color: black;
   padding: 10px;
   margin-top: 10px;
}
.search-titulo{
  font-size: 16px;
}

.user-edit input[type='text'], .user-edit input[type='password'] {
  width: 250px;
}
.user-edit input[type='file']{
  width: 300px;  
  font-size: 10px;
  text-align: center;
}

.tags-unfollow a{
 color: red !important; 
}

.tags-follow a{
   color: green !important; 
}

.tags-follow a:hover, .tags-unfollow a:hover, .tags-orden a:hover {
   color: gray !important; 
}

.tags-orden{
   width: 99px;
   float: left; 
   margin: 3px;
   border: 1px solid gray;
   background: white;
   overflow: hidden;
   padding: 3px;
   text-align: center;
}

.tags-orden:hover{
   border: 1px solid green;
   background: #baf8ba;
}
.tags-block{
    
   display: table; 
   text-align: justify;
}


/* Autocomplete
----------------------------------*/
.ui-autocomplete { position: absolute; cursor: default; }       
.ui-autocomplete-loading { background: white url('/gfx/ajax-loader.gif') center center no-repeat; }

/* workarounds */
* html .ui-autocomplete { width:1px; } /* without this, the menu expands to 100% in IE6 */

/* Menu
----------------------------------*/
.ui-menu {
        list-style:none;
        padding: 2px;
        margin: 0;
        display:block; 
        background: black;
}
.ui-menu .ui-menu {
        margin-top: -3px;        
}
.ui-menu .ui-menu-item {
        margin:0;
        padding: 0;
        width: 100%;   
        border-style: solid;
        border-width: 1px;     
}
.ui-menu .ui-menu-item a {
        text-decoration:none;
        display:block;
        padding:.2em .4em;
        color: white;
        line-height:1.5;
        zoom:1;
        text-shadow: none;
        font-size: 14px;
        vertical-align: middle;
        height: 30px;               
}
.ui-menu .ui-menu-item a.ui-state-hover,
.ui-menu .ui-menu-item a.ui-state-active {
        margin: -1px;
}

.ui-dialog-titlebar{
    height: 5px;    
}

.point a
  {
      text-decoration:none;
      font-weight:bold !important;
  } 
  
.ui-widget-header{
  background: white !important;
}

