/* Etiquetas generales */
body
{
  background-image: url('/gfx/fondo.png');
  background-color: black;
  background-repeat:no-repeat;
  background-attachment:fixed;
  background-position:center; 
  font-family: monospace;
  color: #000;
}

#muneco-text, #footer
{
  background-color: rgba(255, 255, 255, 0.8) !important;
}

img
{
  border: solid 1px #BBBBBB;  
}
a{
  color: white;  
  font-weight: bold;  
}
        /* Enlaces */
a:hover, .mainPostContent a, .mainComentContent a, .mainNotiContent a, .board-white a, #board-block a, .text-quote a ,.text-link a, #board-notifi a, .user, .tag a, .tags-follow a
{
  color: #459E00;
}

      /* Fondos blancos */
.mainNotiContent, .formComentContent, .mainComentContent, .mainPostContent, #board-mention, #archivo, #board-block, #board-block li, .board-white, .ui-widget-header, .textarea
{
  background: #FAFAF4 url(images/ui-bg_highlight-hard_100_fafaf4_1x100.png) 50% 50% repeat-x !important;
  border:solid 1px #BBBBBB;  
}

      /* Fuente botones y Fuentes _board */
#tabs li a, #board-title, #tumblear, .mainPostContent 
{
  font-size: 13px;
}

#photo-recorte
{ 
  margin-left: 15%;
  display: table;  
  text-align: center;
}

#q
{
  position: relative;
  border: solid -1px !important;  
  outline: none !important;
  float:right;
  font-size: 13px;
  top: 0px;
}
    /*Radius*/
.busqueda, .ui-dialog, .post, #user-edit, #footer, .board-background, .notification-list, #login, #muneco, #main
{
  border-radius: 7px;
}

.ui-tabs-anchor
{
  font-size: 10px;
}

#tabs-board .ui-tabs-nav
{
  position: relative;
  overflow: hidden !important;
  height: 174px;
  top: 0px
}

.logo
{
  width:300px;
}

.titulo
{
  font-size: 28px;
  color: #aff675;
  margin-left: 15px;
  font-weight: bold;
  font-family: monospace;
  text-shadow: -1px 0px green, 0px 1px green, 1px 0px green, 0px -1px green;
}

.titulo:hover
{
  color: #459E00 !important;  
  text-shadow: -1px 0px green, 0px 1px green, 1px 0px green, 0px -1px green;
}

.board-foto
{
  max-width: 100%;
  max-height: 140px;
}

.ui-tabs-nav
{
  border:solid 1px #BBBBBB;  
}

.topbar
{
  position :fixed;
  z-index: 991;
  background-color: black;  
  box-shadow:         0px 0px 6px 2px #283327;
  min-width: 100%;
  font-size: 12px;
}

#nav0 li
{
  display: inline !important;
}

#search, #nav0
{
  margin-top: 10px;
  text-align: center;
  margin-left: 15%;
}

.usersboard
{
  color: black !important;
  
}

.usersboard:hover
{
  color: gray !important;
}

#board-notifi li
{
  display: inline;  
}

#error, .notice-li
{
  text-align: center;
  border: 1px red;
  border-style:solid;
  border-width: 2px;
  background: #F78181;
  color: white;  
  margin: 5px;
}

#notice
{
  text-align: center;
  border: 1px green;
  border-style:solid;
  border-width: 2px;
  background: #aff675;
  color: black;  
  margin: 5px;
}

.notice-block
{
  width: 300px;
  position: relative;
  float: left;  
}

.notice-title
{ 
    font-size: 14px;
}

.notice-li
{
  width: 300px;
  text-align: justify;
  float: left;
  padding: 5px;
  font-size: 10px;  
}

#user_session_name, #user_session_password
{
  width: 100px;
  margin-left: 5px;
  font-size: 12px;
  float: left;
}

#user_url, #user_bio, #user_profile, #user_email, #user_password, #user_password_confirmation, #user_name
{
  width: 200px;  
  font-size: 12px;
}

.condicion
{
  color: gray;    
}

.condiciones
{
  display: none;
  border: 1px solid #BBBBBB;
  background: #FAFAF4;   
  width: 90%;
  margin: 0 auto;    
}

.condiciones p
{
  font-weight: normal;
  font-size: 12px;   
  text-align:justify;  
  padding: 10px;
}

.cerrar-condiciones
{
  float: right;
  border: 1px solid #BBBBBB;
  background: black;  
  margin: 4px;
  padding: 2px;
}

.registro, .errorExplanation
{
  display: block;
  width: 400px;
  position: relative;
  float: left;  
}

.registro2
{
  margin: 0 auto;
  display: block;
  width: 210px;  
}
.comment-muneco
{
  position: relative;
  top: -21px;
  width: 10%;
  height: 45px;
  float: left;
  margin: 1%;
  padding-top: 0px;
  margin-left: 7px;;
}

.comment-muneco-photo
{
  width: 50px;
  height: 50px;  
}

.mainNotiContent
{
  position: relative;
  top: 2px;  
  width: 87%;  
  margin-right: 7px;
  padding: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  float: right;
  font-size: 10px;
  text-align: justify;
}

.noti-muneco
{
  position: relative;
  float: left;
  margin: 1%;
  padding-top: 0px;
  margin-left: 7px;
  width: 54px;
}

.noti-muneco-photo
{
  position: relative;
  left: 20%;  
  width: 28px;
}

.board-munecos
{
  position:static;
  width: 48%;  
  margin: 1%;
  float: left;
  text-align: right;
  vertical-align: text-bottom;
  padding-top: 30px;
  padding-bottom: 0px;
  overflow: hidden;
  font-size: 10px;  
}

.board-munecos a
{
  color: #fff !important;
  text-shadow: -1px 0px #000, 0px 1px #000, 1px 0px #000, 0px -1px #000;
}
  
.board-munecos a:hover
{
  color: #459E00 !important;
  text-shadow: -1px 0px #000, 0px 1px #000, 1px 0px #000, 0px -1px #000;
}

#board-mention
{
  display: table;  
  font-weight:bold;
  width: 100%;
  margin-top: 4px;
 }

.search-muneco
{
  width: 97px;
  min-height: 80px;
  margin: 2px;
  float: left;
}

.comment-muneco1
{
  width: 48px;
  height: 42px; 
}

.borrarPost, .borrarComentario, .iconUnshare, .iconsMas, .iconsMenos, .iconShare, .iconsMasComentario, .iconsMenosComentario, .iconsMenosComentarioDisable, .iconsMasComentarioDisable, .iconsMasDisable, .iconsMenosDisable
{
  float: right;
  width: 15px;
  height: 15px;
}

.mainPostContent .iconsMas, .mainPostContent .iconsMenos,.mainPostContent .iconsMasDisable,.mainPostContent .iconsMenosDisable 
{
  left: 1px;
}

.iconsMasComentario, .iconsMenosComentario, .iconsMenosComentarioDisable, .iconsMasComentarioDisable
{
  top: -8px;
}
.iconBorrarComentario, .iconos
{
  width:20%;
  float: right;  
}
.icons, .icons2
{
  margin-top: 2px;
  margin-right: 5px;
}
.ui-icon-trash
{
  margin-top: -9px !important;
  margin-left: -9px !important;
}

.iconos .ui-icon-trash
{  
  margin-left: -8px !important;
}

.ui-icon-arrowthick-1-n
{
  margin-left: -7px !important;
  margin-top: -8px !important;
}
.icon-exit, .icon-home 
{
  width: 23px;
  height: 23px;
  padding: 2px;
  top: 0px;
}

#open-publicar
{
  height: 29px;
  font-size: 13px;
  top: -10px;
}
  
#archivo
{
  left: 6px;
  top: 1px;
  display: none;  
  width: 394px; 
  margin-left: 90px;
  text-align: center;
}

#img
{
  margin-left: 10px;
  width: 450px;
}

#loarding{
  border: none;
  padding-top: 18px;
}
.cargandoPagPost .ui-dialog-titlebar 
{
 display: none;
}

.cargandoPagPost 
{
  width: 66px;
  height: 66px;
  border: 0;  
}

.votos
{
  float: right;
  width: 400px;
  margin-right: 10px;
}

#board-block 
{
  text-align: justify;
  padding-bottom: 2px;
  padding-left: 10px;
  padding-right: 10px;
  
}

#board-block li
{
  height: 14px;  
  margin: 5px;  
}
 
#board-title
{
  font-weight:bold;
  text-align: center;  
  padding-bottom: 2px;  
}

.textarea
{
  margin: 6px;
  float: right;
  width: 375px;;  
  height: 92px;    
  padding: 6px;
  padding-top: 11px;   
}

#tumblear
{
  float:right;
  margin-right: 1%;
}

.new_user_session
{
  padding-top: 7px;
  width: 100%;
}

.ui-dialog
{
  display: table;  
  background-color:rgba(0,0,0,0.8) !important;  
  padding: 0px;
  margin: 0px; 
  position: fixed;
  left: 0%;
  top: 10%;
}

.counter
{
  color: gray;  
}

.ui-widget-content
{
  border: none;
  background: none;
}

#muneco
{    
  padding: 3px;
}

#muneco-text
{ 
  min-height: 200px; 
  margin: 5px;
  color: #fff;
  text-shadow: -1px 0px #000, 0px 1px #000, 1px 0px #000, 0px -1px #000;
  padding: 5px;
  border: solid 1px #BBBBBB;  
}

#save
{
  position: relative;
  top: -20px;
  display: table;  
  width: 95%;
  margin-left: 0px; 
}

.postCommentsVote
{
  position: relative;
  left: 1px;
  font-size: 10px;
}

div #form-new
{
  width: 100% !important;
  min-height: 0px !important;
  height: auto !important;
}

.mediano-muneco
{
  position: relative;
  width: 20%;  
  height: 108px;
  margin: 1%;
  float: left;
  top: -3px;  
}

.mediano-muneco2
{
  width: 140px;  
  height: 140px;
  margin: 1%;
  float: left;
  position: relative;
  top: 4px;  
}

.mediano-muneco-post
{
  position:relative;
  top: -22px;
}

.mediano-muneco-newex
{
  position:relative;
  top: -20px;
}

#posts
{
  display: table;
  width: 100%;
}

.post
{
  display: table;
  width: 100%;  
  margin-top: 20px;
  padding-bottom: 5px;
}

.timeCount
{
  font-size: 10px;
  color: gray;  
}

#user-edit
{
  position:relative;
  display: block; 
  padding: 10px;
  text-align: center;
  margin: 0;
}


.user-edit
{  
  display: block;  
  padding: 5px;
  text-align: center;
  padding-top: 10px;
  margin: 0px;
  float: left;  
  width: 45%;  
  overflow: hidden;  
}

.user-text p
{
  font-weight: normal;
  font-size: 10px;  
  text-align: justify;  
}
.user-edit-2
{
  display: block;  
  padding: 5px;
  text-align: center;
  margin: 0px;
  margin-top: 3px;
  float: right;  
  width: 45%;  
  padding-top: 25px;
  overflow: hidden;  
}



#main
{
    position: relative;
    margin-top: 20px;
    z-index:50;
    background-color: rgba(255, 255, 255, 0.8);
    min-height: 30px;
}

.postComments 
{
  float: right;
  width: 78%;
  display:block;
  margin-top: 2px;  
}

.postFooter
{
  position: relative;
  bottom: 0px;
  left: 1px;
  float: right;
  width: 100%;
  display:block;
  vertical-align: text-bottom;
}

.maincontent
{
    position: relative;
    top: 45px;    
}

.comment 
{  
  display: table; 
  width: 100%;  
}

.mainPostContent
{
  width: 73%;
  margin: 1%;
  padding: 1%;
  margin-bottom: 0px;  
  float: left;
  font-size: 13px;
  line-height: 15px;  
  color: black;
  border: solid 1px #BBBBBB;
}

.formComentContent, .mainComentContent
{
  width: 82%;
  margin-top: 5px;
  margin-right: 13px;
  padding: 1%;  
  float: right;
  font-size: 10px;
  border: solid 1px #BBBBBB;
  min-height: 39px;
  background: #FAFAF4; 
}

.formComentContent
{
  height: 26px;
}  

.mainPostContent #text
{
  margin: 1%;
  text-align: justify;
}
.mainComentContent #text
{
  font-size:10px;
  text-align: justify;
}
#text, .text-link
{    
  width: 100%;
  font-size: 10px;  
  text-align: justify;
}

.text-quote
{ 
  width: 100%;
  font-size: 12px;
  text-align: justify;  
}

.mainPostContent a:hover, .mainComentContent a:hover, .mainNotiContent a:hover
{ 
  color: black !important;
}

.voteMenu li
{
  display: inline;
  float: right;
  height: 0px;  
}

.commentHeader
{
  font-size: 10px;
}

#mainboard
{
  position: fixed;  
  top: 60px;
  left: -27px;
  width: 100%;
  z-index:1;    
}

.comentar
{
  font-size: 10px;
  float: right;  
  margin-top: 1%;
  margin-right: 3%;
}

#footer
{
  position: relative;  
  padding: 5px;
  top: 60px;  
  font-size: 11px;
  text-align: center;  
  color: black; 
  z-index: 2;
  margin-bottom: 125px;
}

#footer a
{
  color: green;
}

#footer a:hover
{
  color:  black;
}

.endless_scroll_loader
{
  width: 300px;  
  margin-left: 50%;
  margin-top: 5px;
  margin-bottom: 5px;
}

.endless_scroll_loader img
{
  border: none !important;
}


.youtube
{
  width: 96%;
  margin: 2%;
  height: 320px;   
}

.imagen
{
  width: 94%;  
  margin: 3%;
}
.post-image img
{
  width: 100%;
}

.searcher
{
  color: white; 
  text-align: left
}

#resultado-busqueda
{
  color: red;
  font-size: 12px;
}

.arrow-left 
{ 
  position: relative;
  float:right;
  top: 6px;
  left: 11%;
  width: 0; 
  height: 0; 
  border-top: 12px solid transparent;
  border-bottom: 12px solid transparent; 
  border-right:12px solid #fafaf4;  
  z-index:1000;
}

.arrow-left-border 
{ 
  position: relative;
  float:right;
  top: 6px;
  left: 19%;
  width: 0; 
  height: 0; 
  border-top: 12px solid transparent;
  border-bottom: 13px solid transparent; 
  border-right:12px solid #BBBBBB;  
  z-index:999;
}

#save .arrow-left 
{
  top: 12px !important;
}
 
.arrow-left1 
{ 
  position: relative;
  float:right;
  top: 1px;
  left: 22%;
  width: 0; 
  height: 0; 
  border-top: 12px solid transparent;
  border-bottom: 13px solid transparent; 
  border-right: 12px solid #fafaf4;   
  z-index:1000;
}

.arrow-left1-border
{ 
  position: relative;
  float:right;
  top: 1px;
  left: 43%;
  width: 0; 
  height: 0; 
  border-top: 12px solid transparent;
  border-bottom: 13px solid transparent; 
  border-right: 12px solid #BBBBBB;   
  z-index:999;
}

.arrow-left-comment 
{ 
  position: relative;
  float:right;
  top: 23px;
  left: 24%;
  width: 0; 
  height: 0; 
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent; 
  border-right: 10px solid #fafaf4;
  z-index:1000;   
}

.arrow-left-comment-border 
{ 
  position: relative;
  float:right;
  top: 23px;
  left: 41%;
  width: 0; 
  height: 0; 
  border-top: 10px solid transparent;
  border-bottom: 11px solid transparent; 
  border-right: 10px solid #BBBBBB;
  z-index:999;   
}

.board-background
{
   background-color:rgba(255,255,255,0.8);
   padding: 5px;      
   text-align: center;
   width: 220px !important;
}

.board-white
{  
  margin-bottom: 6px;
  margin-top: 6px;
  padding: 5px;
  border: solid 1px #BBBBBB;
}


#board-block a
{ 
  font-size: 12px;
  font-weight: normal;
}

.board-white a
{ 
  font-size: 14px;    
}

.board-white a:hover, #board-block a:hover, .text-quote a:hover ,.text-link a:hover
{ 
  color: black;
  text-shadow: none;
}

#board-notifi 
{  
    margin-bottom: 5px;    
    background: none !important;
}


.user, .tag a
{  
  font-weight:bold !important;
}

.tag:hover, .user:hover
{
  color: black !important;
}

.notification-list
{
  display: table;  
  width: 100%;  
  text-align: center;
  padding: 2px;  
}

#login
{
  display: table;
  width: 100%;
  background-color:rgba(255,255,255,0.8);
  text-align: center;   
  color: black;
  padding: 10px;
}

#reg
{
  display: table;
  width: 100%;  
  text-align: center;   
  color: black;
  padding: 10px;
}

#login label, #reg
{
  font-size: 12px;
}

.busqueda
{
  display: block;
  color: black;
  padding: 10px;
  margin-top: 10px;
}

.busqueda h5
{
  text-align: center;
  font-weight:bold;
}

.search-titulo
{
  font-size: 16px;
  text-align: center;
}

.user-edit input[type='text'], .user-edit input[type='password'],.user-edit-2 input[type='text'], .user-edit-2 input[type='password']
{
  width: 250px;
}
.user-edit input[type='file'], .user-edit-2 input[type='file']
{
  width: 300px;  
  font-size: 10px;
  text-align: center;
}

.tags-unfollow a
{
 color: red !important; 
}

.tags-follow a:hover, .tags-unfollow a:hover
{
  color: gray !important;   
}

.tags-orden a  
{  
  display: block;
  text-shadow: -1px 0px #000, 0px 1px #000, 1px 0px #000, 0px -1px #000;
  margin:0px;
  padding-top: 3px;
  width: 97;  
} 

.tags-orden
{
   width: 99px;
   float: left; 
   margin: 3px;
   border: 1px solid gray;   
   overflow: hidden;
   padding: 3px;
   text-align: center;
   background: #fafaf4;
}

.tags-orden:hover
{
   border: 1px solid green;
   background: #baf8ba;
}

.tags-photo
{
  overflow: hidden;
  border: 1px solid #BBBBBB;  
  width: 93px;  
  height: 93px;
  text-align: center;
  margin: auto;  
}

.tags-photo-img
{ 
  margin-top: -50%;
  margin-left: -50%; 
  min-width: 200%;
  min-height: 200%;
  width: auto;
  height: auto;    
  border: none;
}

.tags-block
{   
   display: table; 
   text-align: justify;
}
.search-muneco
{
  width: 93px;
  height: 93px;
}

#tusgrupos, #tendencias, #sobre
{
  background: #fafaf4;
}
#tusgrupos a:hover, #tendencias a:hover
{
  color: #459E00 !important;
}


/* Autocomplete
----------------------------------*/
.ui-autocomplete { position: absolute; cursor: default; }       
.ui-autocomplete-loading { background: white url('/gfx/ajax-loader.gif') center center no-repeat; text-shadow: none; border: none !important;}

/* workarounds */
* html .ui-autocomplete { width:1px; } /* without this, the menu expands to 100% in IE6 */

/* Menu
----------------------------------*/
.ui-menu 
{
        list-style:none;
        padding: 2px;
        margin: 0;
        display:block; 
        background: black;
}

.ui-menu .ui-menu 
{
        margin-top: -3px;        
}

.ui-menu .ui-menu-item 
{
        margin:0;
        padding: 0;
        width: 100%;   
        border-style: solid;
        border-width: 1px;     
}

.ui-menu .ui-menu-item a 
{
        text-decoration:none;
        display:block;
        padding:.2em .4em;
        color: white;
        line-height:1.5;
        zoom:1;
        text-shadow: none;
        font-size: 14px;
        vertical-align: middle;
        height: 30px;               
}
.ui-menu .ui-menu-item a.ui-state-hover,.ui-menu .ui-menu-item a.ui-state-active 
{
        margin: -1px;
}

.ui-dialog-titlebar
{
      height: 5px;    
}

.point a
{
      text-decoration:none;
      font-weight:bold !important;
}
  
.board-background .ui-widget-content 
{
  left: -2px;
  width: 100%;
  margin-top: 10px;
}

.topbar .ui-widget-content 
{
  left: -3px;  
  position:fixed;
}

.ui-widget 
{
  font-family: monospace;
}

::-webkit-scrollbar 
{ 
  width: 6px;
  border-left: 1px solid #BBBBBB;
}


::-webkit-scrollbar-thumb 
{    
  background: rgba(0,0,0,.5);
}

::-webkit-scrollbar-thumb:window-inactive 
{
  background: rgba(0,0,0,.3);
}

.charcount-display{
  color: gray;
  margin-left: 14%;
}

#save .charcount-display
{
  color: gray;
  margin-left: 4%;
}

.numNotif
{
  -webkit-border-radius: 999px;
  -moz-border-radius: 999px;
  border-radius: 999px;
  behavior: url(PIE.htc);

  width: 3px;
  height: 3px;
  padding: 1px;

  background: #ff6600;
  border: 1px solid #ff3300;
  color: #FFFFFF;
  text-align: center;

  vertical-align:super;
  font-size: 8px;
}
