// Place all the styles related to the comment controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/******************Comentarios */
.comments{
	position:relative;
	float: right;
	left:  -10px;
	width: 400px;
	text-align: right;
}
.comments a{
	color: black;
}

.comment{
  position:relative;
}

.comments-old{
  word-wrap: break-word;
	color: black;
}
.comment-new{
	height: 38px;
}

textarea.comment-new{
	font-size: 15px;
	height: 30px;
	width: 362px;
}

.comment-new-foto{
	position: relative;
	display:block;
	float:left;
  z-index: 1;
	left: 80px;
}
.comment-fecha{
  float: left;
  width: 280px;  
}

.comment-texto{
	position: relative;
	display: block;
  background: #fafafa;
	text-align: left;
	font-size: 12px;
	min-height: 32px;
	width: 360px;
	padding: 1px 5px 0px 35px;
}

.iconBorrarComentario{
  position: absolute;
  right: 0px;
  top: 0px;
}

.borrarComentario{
  width: 15px;
  height: 15px;
}

.comment-texto a{
	color: green;
}

.comment-texto a:hover{
	color: rgba(0,255,0,0.5);
}

.comment-foto{
	display:block;
	float:left;
	left: 200px;
  z-index: 1;
  -moz-box-shadow:    1px 0px 6px 2px .283327;
  -webkit-box-shadow: 1px 0px 6px 2px .283327;
  box-shadow:         1px 0px 3px 1px .283327;
}

.comment-new-foto{
	position:relative;
	left: -80px;
	-moz-box-shadow:    1px 0px 6px 2px .283327;
	-webkit-box-shadow: 1px 0px 6px 2px .283327;
	box-shadow:         1px 0px 3px 1px .283327;
}
.comment-separacion{
	height: 5px;
}
.comment-muneco
{
  position: relative;
  text-align: right;
  width: 34px;
  height: 34px;	
  background: #fefeff;
  z-index: 1;
}

.comment-muneco1
{
	position: relative;
	text-align: left;
	left: -80px;
	width: 48px;
	height: 42px;	
	background: #fefeff;
	z-index: 1;
}
