.share-editor{
  left: 10px;
  width: 499px;
  vertical-align: top;
  text-align: right;
}

.share-user_name{
  color: white;  
}

.share-tag{
  position: relative;
  top: -2px;
  left: -3px;
  width: 395px;
  padding-left: 5px;
  background: #fafafa;
  border: 0px;
}