
  .collapse { position:relative; }

    .box {
      display:none;      
      border:solid 1px #BBBBBB;
      position:absolute;
  	  background:#FFF;
  	  min-height: 10px;
  	  max-height: 200px;  	  
  	  width: 208px;
  	  z-index: 999;  	  
    }

      .box a.close {
       color:r black;
       font-size:12px;
       font-family:arial;
       text-decoration: none;
      }

      .arrow, .arrow {
      	width: 0;
      	height: 0;
      	border-left: 11px solid transparent;
      	border-right: 11px solid transparent;
      	border-bottom: 11px solid #FFF;
      	position:absolute;
      	left:1px;
      	top:-10px;
      	z-index:1001;
      }

      .arrow-border, .arrow-border {
      	width: 0;
      	height: 0;
      	border-left: 11px solid transparent;
      	border-right: 11px solid transparent;
      	border-bottom: 11px solid #BBBBBB;
      	position:absolute;
      	left:0px;
      	top:-10px;
      	z-index:1000;
      }

	.popbox-photo{
		float: left;		
	}
	.popbox-cajita{
		height: 54px;
	}
	
	.popbox-scroll{
		max-height: 200px;
		width: 100%;
  	  	overflow-y: auto;
  	  	overflow-x:hidden;  	  	
  	 }