.collapse 
{ 
	position:relative; 
	z-index: 999;
}

.popbox-user{
	display: table;
	font-size:9px;
	height: 51px;
	padding-left: 0.5em;
	padding-right: 0.5em;	
	text-align: justify;
}

.box 
{
	display:block;
	display:none;
	background:#FAFAF4;
	border:solid 1px #BBBBBB;	
	position:absolute;
	width: 208px;
	color: black;
    box-sizing: border-box;
}  

.arrow 
{
  	width: 0;
  	height: 0;
  	border-left: 11px solid transparent;
  	border-right: 11px solid transparent;
  	border-bottom: 11px solid #FaFaF4;
  	position:absolute;
  	left:20px;
  	top:-10px;
  	z-index:1001;
}
  
.popbox-photo
{
	margin-bottom:3px;
	float: left;	
}

.popbox-cajita
{
	width: 100%;
	height: 50px;
	float: left;
}

.notification	
{
	margin-bottom: 4px;
}

.popbox-scroll
{
	height: 122px;
	width: 100%;
  	overflow-y: auto;
  	overflow-x:hidden; 
  	font-size: 10px; 	  
  	vertical-align:middle;	
}

div.popbox.popbox-comments, div.popbox.popbox-groups, div.popbox.popbox-mentions, div.popbox.popbox-tusgrupos, div.popbox.popbox-tendencias
{
	width: 33px !important;	
	float: left;	
  	color: white;  	 	
  	height: 40px;  	
  	margin-top: 4px;  	
  	padding-top: 6px;
}

div.popbox.popbox-comments:hover , div.popbox.popbox-groups:hover, div.popbox.popbox-mentions:hover, div.popbox.popbox-tusgrupos:hover, div.popbox.popbox-tendencias:hover
{
  	background: #4b534b;
}

div.popbox.fotoTopbar
{
	width: 46px !important;	
	float: left;	
  	color: white;
  	margin-top: -4px;
}

.searched .fotoTopbar a:hover 
{
	background: none !important;
}
.searcheb
{
	margin-left: 2%;
}
.popbox a
{
	font-size: 15px;
	display: block;
	text-align: center;
	font-family: entypo;
}
.open
{
	display:block;
	color: white !important;
	font-size: 10px;
}

.popbox-title
{
	border-bottom: solid 1px #BBBBBB;
	font-size: 13px;
	font-weight:bold;
	text-align: center;	
}

.popbox-footer
{
	border-top: solid 1px #BBBBBB;	
}