/***********Sistema de nuevo post****************/
#posts {
  position: relative;
}

.post {
  position: relative;
}

.datos{
	position: relative;
	float: left;
	left: -10px;
	border: 1px;
	z-index: 10;
	margin: 10px;	
	width: 500px;
	background-color: rgba(10,10,10,0.7);
	text-align: left;
}
.iconBorrarPost{
  position: absolute;
  right: 0px;
  top: 0px;
}

.borrarPost{
  width: 15px;
  height: 15px;
}

.new{
	position: relative;
	float: left;
	left: -10px;
	border: 1px;
	z-index: 10;
	margin: 10px;	
	width: 500px;
}

#new-radio{
	text-align: center;
	position: relative;
	vertical-align: middle;
	left: -1px;
	width: 490px;
	padding: 10px 0px 10px 10px;
}

.new-foto{
	position: relative;
	text-align: center;
	float:left;
	top: -22px;
	width: 70px;
	margin: 10px;
}

.new-foto a{
	font-size: 10px;
}

.new-editor{
	left: 10px;
	width: 499px;
	vertical-align: top;
	background-color: rgba(10,10,10,.7);
}

.new_post{
/*	background: #9dc598;*/
	position: relative;
	left: -13px;
}

#new-title{
	width: 500px;
	padding-left: 5px;
	font-weight: bold;
	border: 0px;
}

.new-title{
	background: black;
	color: white;
	width: 472px;
	padding-left: 5px;
	font-weight: bold;
	font-size: 20px;
	border: 0px;
	margin-left: 9px;
}

.new-input{
	width: 645px;
	background-color: #e1f4df;
}

.new-tag{
	position: relative;
	top: -1px;
	left: -10px;
	width: 389px;
	padding-left: 5px;
	background: #fafafa;
	border: 0px;
}
.new-tag_fire{
	font-size: 12px;
	position: relative;
	top: -1px;
	width: 385px;
	padding-left: 5px;
	background: #fafafa;
	border: 0px;
}
#div_hr{
	position:relative;
	float: left;
	width: 100%;
	height: 7px;
	background-color: rgba(0,255,0,.7);
}

#textarea{
	margin: 0px;
	color: black;
	border: none;
	text-decoration: none;
	width: 500px;
}


#textare a{
	color: black;
	text-weight: bold;
}
#textare a:hover{
	color: green;
}

#textare{
	font-size: 10px;
	position: relative;
	float: left;
	color: black;
	background: #fafafa;
	width: 380px;
  word-wrap: break-word;
	padding: 10px;
	text-align: left; 
}

#textar{
	position: relative;
	float: left;
	display: block;

}


.textarea{
	position: relative;
	top: 6px;
	left: -10px;
	border: none;
	text-decoration: none;
	background-color: #fafafa;
	height: 60px;
	width: 390px;
}

textarea{
	border: none;
	text-decoration: none;
}

#post_link{
	position: relative;
}

#post_link_text{
	position: relative;
	float: left;
}

#post_link_photo{
	position: relative;
	float: left;
}

/*******¿cuerpo de los post?********/
#post-body{
				text-align: left;
        padding: 15px 15px 15px 15px;
}

#post-body td{
     border: none;
     text-align: left;  
     padding: 0px 0px 0px 0px;
}

#post-body1{
	text-align: center;
}

#post-tags{
	font-size: 10px;
}

#tumblear{
	position: relative;
	margin:5px;
	left: -6px;
}
.post-tags-1{
	position:relative;
	float: left;
	text-align: left;
	font-size: 13px;
	padding: 0px 0px 0px 2px;
	font-weight: bold;
	margin: 0px;
}

.post-title{
	position:relative;
	width: 305px;
	text-align: left;
	background: black;
	padding-left: 1px;
	padding-right: 95px;
	padding-top: 0px;
	padding-bottom: 2px;
}

.post-title-1{
	position:relative;
	top: 3px;
	display: inline-block;
	padding: 0px 0px 0px 2px;
	text-align: left;
	float:left;
	font-weight: bold;
}

.post-title-quote{
	position:relative;
	width: 295px;
	text-align: left;
	padding-left: 1px;
	padding-right: 100px;
	padding-top: 0px;
	padding-bottom: 2px;
	background-color: #9fff92; 
}

.typepost{
	position:relative;
	left: 25px;
	top: 2px;
	float:left;	
}

.post-div {
		position: relative;
    float: left;
    font-size: 13px;
}

.post-date{
	background-color: #e1f4df;
}

.post-date a:hover{
	  text-decoration: none;
	  -moz-border-radius: 3px;
	  -webkit-border-radius: 3px;
	  behavior:url(border-radius.htc);
}


.post-date-quote{
	position: relative;
	width: 400px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 10px;
	-moz-box-shadow: 0px 0px 1px 1px #283327;
	-webkit-box-shadow: 0px 0px 1px 1px #283327;
	box-shadow: 0px 0px 1px 1px #283327
}

.post-date-quote a:hover{
	  text-decoration: none;
	  -moz-border-radius: 3px;
	  -webkit-border-radius: 3px;
	  behavior:url(border-radius.htc);
}

.post-image{
	width: 100%;
}

/**Tipod de post**/
.post_foto{
    width:100px;
    -moz-box-shadow: 0px 0px 1px 1px #283327;
    -webkit-box-shadow: 0px 0px 1px 1px #283327;
    box-shadow: 0px 0px 1px 1px #283327;
}

#type-quote{
	position:relative;
	font-size: 14px;
	text-align: left;
}

#type-quote a{
	color: green;
}

#type-quote a:hover{
	font-size: 14px;
	color: rgba(0,255,0,0.5);
}
.type-link{
	position: relative;
}

.post_link_photo{
	float: left;
	margin: 1px; 
	margin-right: 10px;
	height: auto;
}


.post_link_text{
	position: relative;
	overflow: hidden;
	display: block; 
	text-align: justify;
	height: auto;
}

.titulo{
	padding: 0px 5px 5px 5px;
	width: 1000px; 
}

#archivo{
	position:relative;
	left: 6px;
	top: 1px;
	display: none;
	background: white;
	width: 394px; 
	margin-left: 90px;
	text-align: center;
}

#img{
	margin-left: 10px;
	width: 450px;
}

#cargando {
  position: absolute;
  display: none;
  left: 100px;
  top: 75px;
  margin: 0px;
}

.cargandoPagPost .ui-dialog-titlebar {
  display: none; 
}

.cargandoPagPost {
  width: 66px;
  height: 66px;
  border: 0;
  background: transparent;
}

.votos
{
  float: right;
  position: relative;
  width: 400px;
  margin-right: 10px;
}
