#tags-names{
  position: relative;
  float: left;
  background-color: rgba(0,0,0,.5);
  margin-top: 5px;
  margin-left: 6px;
  margin-right: 6px;
  margin-bottom: 6px;
  width: 154px;
  text-align: center;
}
#busqueda
{
  text-align: left;  
}
#users-names{
  position: relative;
  float: left;
  background-color: rgba(0,0,0,.5);
  margin-top: 5px;
  margin-left: 6px;
  margin-bottom: 6px;
  width: 158px;
  text-align: center;
}

#posts-names{
  position: relative;
  width: 500px;
  background-color: rgba(0,0,0,.5);
  margin-top: 5px;
  margin-left: 10px;
}
.tags-follow{
  position: relative;
  width: 100%;
  background-color: rgba(0,255,0,.3);
  margin-top: 5px;
  margin-right: 5px;  
  text-align: center;
}

.tags-unfollow{
  position: relative;
  width: 100%;
  background-color: rgba(255,0,0,.3);
  margin-top: 5px;
  margin-right: 5px;
  text-align: center;
}

.search-results{
  position:relative;
  left: 10px;
  text-align: left;
  max-height: 178px;  
  overflow:auto;
  background-color: rgba(0,0,0,.5);
}

.search-results::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}
 
/* Track */
.search-results::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,255,0,1); 
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(0,0,0,0.1); 
}


/* Handle */
.search-results::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(0,255,0,0.7); 
    -webkit-box-shadow: inset 0 0 6px rgba(0,255,0,1); 
}

.search-results::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(0,255,0,0.4); 
}




.search-results1{
  position:relative;
  text-align: left;
  
  overflow:auto;
  background-color: rgba(0,0,0,.5);
  width:520px;
}

.search-results1::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}
 
/* Track */
.search-results1::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,255,0,1); 
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(0,0,0,0.1); 
}


/* Handle */
.search-results1::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(0,255,0,0.7); 
    -webkit-box-shadow: inset 0 0 6px rgba(0,255,0,1); 
}

.search-results1::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(0,255,0,0.4); 
}

.search-muneco
{
  position: relative;
  left: 50px;
  text-align: center;
  width: 60px;
  height: 60px; 
  background: #fefeff;
}

.search-titulo
{
  width: 500px;
  height: 19px;
  position: relative;
  left: 10px;
  text-align: center;
  color: black;
  background: rgba(0, 255, 0, 0.8);
  -webkit-border-radius: 10px;
  border-radius: 10px;
  border: 0px;
  -moz-box-shadow: 1px 0px 6px 2px #000000;
  -webkit-box-shadow: 1px 0px 6px 2px black;
  box-shadow: 1px 0px 3px 1px black;   
}

/* Autocomplete
----------------------------------*/
.ui-autocomplete { position: absolute; cursor: default; }       
.ui-autocomplete-loading { background: white url('gfx/ajax-loader.gif') right center no-repeat; }

/* workarounds */
* html .ui-autocomplete { width:1px; } /* without this, the menu expands to 100% in IE6 */

/* Menu
----------------------------------*/
.ui-menu {
        list-style:none;
        padding: 2px;
        margin: 0;
        display:block;
        vertical-align:text-top;
}
.ui-menu .ui-menu-item {
        margin:0;
        padding: 0;
        width: 100%;
}
.ui-menu .ui-menu-item a {
        color: #000;
        text-decoration:none;
        display:block;             
        zoom:1;
}
.ui-menu .ui-menu-item a.ui-state-hover,
.ui-menu .ui-menu-item a.ui-state-active {
        margin: -1px;
}

.a-autocomplete{
  vertical-align: top;
  margin-top: 5px;
}
