#tags-names{
	position: relative;
	width: 470px;
	background-color: rgba(0,0,0,.5);
	margin-top: 5px;
	margin-left: 10px;
}

#tags-follow{
	position: relative;
	float: right;
	width: 80px;
	top: -5px;
	background-color: rgba(0,255,0,.3);
	margin-top: 5px;
	margin-right: 5px;
	text-align: center;
}

#tags-unfollow{
	position: relative;
	float: right;
	width: 80px;
	top: -5px;
	background-color: rgba(255,0,0,.3);
	margin-top: 5px;
	margin-right: 5px;
	text-align: center;
}

#search-results{
	text-align: left;
	max-height: 162px;
  overflow:auto;
}

#search-results::-webkit-scrollbar {
    width: 12px;
		height: 12px;
}
 
/* Track */
#search-results::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,255,0,1); 
    -webkit-border-radius: 10px;
    border-radius: 10px;
   	background: rgba(0,0,0,0.1); 
}


/* Handle */
#search-results::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(0,255,0,0.7); 
    -webkit-box-shadow: inset 0 0 6px rgba(0,255,0,1); 
}

#search-results::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(0,255,0,0.4); 
}
