
/******* Menu de la derecha*****/
#notice {
  color: #fafafa;  
	background-color: rgba(0,255,0,.7);
	padding: 5px 5px 5px 5px;
	min-height: 30px;
}

.notice_a{
  color: #fafafa;  
	font-size: 20px;
}



#marcofoto{
	border: 0px;
	text-align: center;
	margin-top: 10px;
	margin-bottom: 8px;
}

#board{
	margin: 6px;
	background: none;
}
#board-block{

}


#board-mentions a{
	font-size: 10px;
	color: #ffffff;
}

#board a:hover{
	color: #9FFF92;
}
#board-mentions{
	text-align: left;	
	margin-left: 10px;
}

.boarda{
 font-size: 15px;
}

#board-tags{
	text-align: left;
	margin-left: 10px;
	color: #ffffff;
  overflow: auto;
	max-height: 72px;
	background-color: rgba(0,0,0,0.5);
}
/* Let's get this party started */
#board-tags::-webkit-scrollbar {
    width: 12px;
		height: 12px;
}
 
/* Track */
#board-tags::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,255,0,1); 
    -webkit-border-radius: 10px;
    border-radius: 10px;
   	background: rgba(0,0,0,0.1); 
}


/* Handle */
#board-tags::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(0,255,0,0.7); 
    -webkit-box-shadow: inset 0 0 6px rgba(0,255,0,1); 
}

#board-tags::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(0,255,0,0.4); 
}

#board-tags a{
	font-size: 12px;
	color: #ffffff;
}

#board-title{
	text-align: center;	
	height: 19px;	
  
  color: black;
  background: rgba(0,255,0,0.8);  
  -webkit-border-radius: 10px;
  border-radius: 10px;  
  border:0px;
  -moz-box-shadow:    1px 0px 6px 2px #000000;
  -webkit-box-shadow: 1px 0px 6px 2px #000000;
  box-shadow:         1px 0px 3px 1px #000000;
  margin: 5px;
}

#board-foto{
		border: 0px;
		text-align: center;
		overflow: hidden;
		margin-left: 9px;
		top: -52px;
}

#board-foto1{
		width: 77px;
		height: 40px;
		float: left;
}

.board_fotito{
		max-width: 77px; 
		max-height: 77px; 
		top: -25%;
}

.board_foto{
		margin: 10px, 10px, 10px, 10px;
    max-width: 154px;
		max-height:154px;
		border: 0px;
}


#board-notifi {
	display: block;
	text-align: center;
}

#board-notifi a{
  text-align: center;
  color: black;
  font-size: 13px;
  
  background: rgba(0,255,0,0.8);  
  -webkit-border-radius: 10px;
  border-radius: 10px;  
  border:0px;
  -moz-box-shadow:    1px 0px 6px 2px #000000;
  -webkit-box-shadow: 1px 0px 6px 2px #000000;
  box-shadow:         1px 0px 3px 1px #000000;
  padding: 1px 5px 1px 5px;
}

#board-notifi a:hover{
  color: #fff;
  background: rgba(0,255,0,0.5);  
  border: 0px;
  -moz-box-shadow:    1px 0px 6px 2px #00ff00;
  -webkit-box-shadow: 1px 0px 6px 2px #00ff00;
  box-shadow:         1px 0px 3px 1px #00ff00;
}  

.data_user{
	margin: 2px;
	text-align: center;
	background-color: rgba(10,10,10,0.5);
}
