// Place all the styles related to the user_sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#login input[type="text"]{
 width:	120px;
}

#login input[type="password"]{
 width:	120px;
}

#create_user {
 text-align: center;
}
#create_user input[type="text"]{
 width:	120px;
}
#create_user input[type="password"]{
 width:	120px;
}
