// Place all the styles related to the vote controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.iconsVote{
  right: 0px;
  top: 0px;
  float: left;    
}
.iconsVoteComentarios{
  right: 0px;
  top: 0px;
  float: left;    
}
.iconsShare{
  right: 0px;
  top: 0px;
  float: right;    
}
