<% if current_user -%>
	<div id="nav0">
		<div id="nav2">
				<%= link_to image_tag( "/gfx/home.png", :mouseover => image_path("/gfx/home_hover.png"), :alt => "Home", :class => "icons"),'/home', :title => "Home"%>
				<%#= link_to image_tag( "/gfx/groups.png", :mouseover => image_path("/gfx/groups_hover.png"), :alt => "#Groups", :class => "icons"), '/groups', :title => "#Groups" %>  
				<%= link_to image_tag( "/gfx/logout.png", :mouseover => image_path("/gfx/logout_hover.png"), :alt => "Logout", :class => "icons"), '/logout', :title => "Logout" %>
	 </div>
	</div>
<% end %>

