<div id="reg" class="row">
	<h4><%= t 'registrate' %></h4>
	<%= form_for(@usernew) do |f| %>
		<%= render :partial => "users/form", :object => f, :locals => { :user => @usernew } %>		
	<% end %>
</div>
